// #(Answer)
.post-content
.note-item.note-item-asker
    .text
      p.asker
        strong {Asker} asked:
      .asker-question {Question}
    .avatar
      img(class="asker-avatar" src="{AskerPortraitURL-96}" alt="")
  // #(Answerer)
  .note-item.note-item-answerer
    .text
      p.answerer
        strong {Answerer} answered:
      .answerer-answer {Answer}

    .avatar
      img(class="answerer-avatar" src="{AnswererPortraitURL-96}" alt="")
  // ##
  .replies {Replies}
// ##