// #(Audio)
div(class="post-content {block:Caption}with-caption{/block:Caption}")
  .audio_container
    // #(AudioEmbed)
    {AudioEmbed color="white"}
    // ##
  // #(Caption)
  .caption {Caption}
  // ##
// ##