// #(Chat)
.post-content
  // #(Title)
  h2.title
    a(href="{Permalink}") {Title}
  // ##

  ul.conversation
    // #(Lines)
    li class="chat-{Alt}">
      // #(Label)
      span.label {Label}
      | {Line}
      // ##
    // ##
// ##