// #(Photo)
figure.post-content(class='{block:HighRes}high-res{/block:HighRes}{block:Caption} with-caption{/block:Caption}', data-photo-width='{PhotoWidth-HighRes}')
  .photo-wrapper
    .photo-wrapper-inner
      {LinkOpenTag}<img src="{PhotoURL-HighRes}" alt="{PhotoAlt}" width="{PhotoWidth-HighRes}" height="{PhotoHeight-HighRes}">{LinkCloseTag}
  // #(Caption)
  figcaption.caption {Caption}
  // ##
// ##