// #(Text)
.post-content
  // #(Title)
  //- h2.title
  //-   a(href="{Permalink}") {Title}
  // ##

  //- thumbnail
  // #(Body)
  .body-thumbnail {Body}
  // #(Body)
  .body-text {Body}
  // ##
  .body-collision
    a(href="{Permalink}")

  // #(HasTags)
  ul.tags
    // #(Tags)
    li
      a(href="{TagURL}") {Tag}
    // ##
  // ##
  // ##
// ##
