//- script.
//-   var Optica = {};
//-     Optica.ENDLESS_SCROLLING = {block:IfEndlessScrolling}true{/block:IfEndlessScrolling}{block:IfNotEndlessScrolling}false{/block:IfNotEndlessScrolling};
//-     Optica.LAYOUT = "{select:Layout}";
//-     Optica.GRID_LAYOUT = (Optica.LAYOUT === 'grid');
//-     Optica.TITLE_COLOR = "{TitleColor}";
//-     Optica.ACCENT_COLOR = "{AccentColor}";
//-     Optica.BACKGROUND_COLOR = "{BackgroundColor}";
//-     Optica.ENDLESS_NOTES_SCROLLING = {block:IfDisqusShortname}false{/block:IfDisqusShortname}{block:IfNotDisqusShortname}true{/block:IfNotDisqusShortname};
script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
script.
  !window.jQuery && document.write(unescape('%3Cscript src="http://static.tumblr.com/vr9xgox/sBgmmjhyw/jquery-1.9.1.min.js"%3E%3C/script%3E'));
//- script(src='http://static.tumblr.com/vr9xgox/u3znnyi2n/main-min.js')

script(src="http://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.0/masonry.pkgd.min.js")